ion-content {
    --background: none;
    background-image: url('../../../assets/img/fondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

ion-card-title {
    text-align: center;
    color: var(--ion-color-primary);
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    animation: zoomIn 3s ease-out infinite alternate;
}

/* Animación de zoom */
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.75);
    }
}
