<ion-header>
  <ion-toolbar>
    <app-company-name slot="start" [companyName]="MediReminder"></app-company-name>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 data-cy="saludo">Hola, {{ usuarioEmail }} 👋</h2>
  <p>Gestiona tus medicamentos y recordatorios fácilmente.</p>

  <!-- Tarjeta para agregar o registrar los medicamentos -->
  <ion-card>
    <img src="../../assets/img/medicamentos.png" alt="Medicamentos" />
    
    <ion-card-header>
      <ion-card-title>Mis Medicamentos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lleva un control de todos tus medicamentos.
    </ion-card-content>

    <ion-button data-cy="btn-medicamentos" expand="block" color="primary" routerLink="/medicamentos">
      Ir a Mis Medicamentos
    </ion-button>

  </ion-card>

  <!-- Tarjeta para registrar los recordatorios de medicamentos -->
  <ion-card>
    <img src="../../assets/img/recordatorios.png" alt="Recordatorios" />

    <ion-card-header>
      <ion-card-title>Recordatorios</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Configura alarmas para no olvidar tus dosis.
    </ion-card-content>

    <ion-button data-cy="btn-recordatorios" expand="block" color="secondary" routerLink="/recordatorios">
      Ver Recordatorios
    </ion-button>
    
  </ion-card>

</ion-content>

